body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

.border {
  /* background: linear-gradient(90deg, #2e2f2c 60%, #fffff0 40%); */
  /* background-image: url("./eat.jpg");
  background-repeat: no-repeat;
  background-size: 100vw; */
}

.abcd {
  background-color: #c40233ed;
  min-height: 100vh;
}
.dcba {
  width: 60vw;
  min-height: 100vh;
  float: left;
  background: linear-gradient(30deg, #2e2f2c 85%, #fffff0 15%);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*logo*/
#logo {
  text-decoration: none;
}

#logo:link {
  color: #f1cf75;
}

/* visited link */
#logo:visited {
  color: #f1cf75;
}

/* mouse over link
#logo:hover {
  color: green;
} */

/* selected link */
#logo:active {
  color: grey;
}

#logo {
  display: inline-block;
  vertical-align: middle;
  /* font-family: "Condiment", cursive; */
  font-family: "Cherry Cream Soda", cursive;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#logo:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
#logo:hover,
#logo:focus,
#logo:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
#logo:hover:before,
#logo:focus:before,
#logo:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Nav Buttons*/
.navBtn {
  padding-top: 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*map-container*/
.map-container {
  width: 70vw;
  height: 70vh;
  border: solid;
  border-color: black;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Sidebar*/
.sidebarList {
  width: 26vw;
  overflow: auto;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*viewListItem*/
.viewListItem {
  color: black;
  font-family: "Exo", sans-serif;
  width: 19vw;
  height: 13vh;
  margin-top: 0.5vh;
  overflow: auto;
  padding-left: 1.2em;
  padding-right: 0.5em;
  padding-bottom: 0.75em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: black;
  background-color: #fffff0;
  border-radius: 25px 25px 25px 5px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.truckName {
  text-decoration: underline;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Location Autocomplete Search*/
/* .search-bar-container {
  width: 90%;
  max-width: 500px;
  margin: 40px auto 0;
}

.search-input-container {
  position: relative;
} */

.suggestion-icon {
  margin-right: 8px;
}

.search-bar-container {
  width: 90%;
  max-width: 500px;
  margin: 40px auto 0;
}

.search-input-container {
  position: relative;
}

.search-input,
.search-input:focus,
.search-input:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: honeydew;
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 2px;
  outline: none;
}

.clear-button,
.clear-button:active,
.clear-button:focus {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  font-weight: 600;
  color: #999;
}

.autocomplete-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2px 2px;
}

.suggestion-item {
  padding: 8px;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
}

.suggestion-item--active {
  background-color: #eeeeee;
}

.dropdown-footer {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}

.dropdown-footer-image {
  display: inline-block;
  width: 150px;
}

.spinner {
  color: #18bc9c;
  font-size: 30px;
}

.error-message {
  color: red;
}

.geocode-result-header {
  font-size: 20px;
  color: #222222;
}
