body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  overflow-x: hidden;
}

.border {
  border-style: none !important;
  /* opacity: 50; */
}

.map-page-wrapper {
  background: #2e2f2c;
}

.bg3 {
  min-width: 100vw;
  min-height: 120vh;
  float: left;
  background: linear-gradient(30deg, #2e2f2c 70%, #fffff0 30%);
}

.bg1::after {
  background-image: url("./img/FoodtruckEvent2.jpg");
  background-repeat: no-repeat;
}

.bg2::after {
  background-image: url("./img/meatBowl.jpg");
  background-repeat: no-repeat;
}
.bg4::after {
  background-image: url("./img/tastyTacos.jpg");
  background-repeat: no-repeat;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Parallax*/
.parallax-wrapper {
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}
.section {
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.8);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

.parallax2::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-2.5px) scale(3);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -2;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*logo*/
#logo {
  text-decoration: none;
}

#logo:link {
  color: #f1cf75;
}

/* visited link */
#logo:visited {
  color: #f1cf75;
}

/* mouse over link
#logo:hover {
  color: green;
} */

/* selected link */
#logo:active {
  color: grey;
}

#logo {
  display: inline-block;
  vertical-align: middle;
  /* font-family: "Condiment", cursive; */
  font-family: "Cherry Cream Soda", cursive;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#logo:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
#logo:hover,
#logo:focus,
#logo:active {
  cursor: pointer;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
#logo:hover:before,
#logo:focus:before,
#logo:active:before {
  cursor: pointer;
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*sign up*/
.selection-container {
  min-height: 50vh;
}
/* .select-container:hover {
  cursor: pointer;
} */
.select-btn {
  color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}

.select-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: white;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.select-btn:hover:before,
.select-btn:focus:before,
.select-btn:active:before {
  left: 0;
  right: 0;
}
#user-select {
  background-image: url("./img/sliders.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
#user-select:hover {
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("./img/sliders.jpg");
}
/* #user-select:hover .selection-container {
  color: red;
} */

#truck-select {
  background-image: url("./img/truckOwner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#truck-select:hover {
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("./img/truckOwner.jpeg");
}

.cardHeader {
  width: auto;
  text-align: center;
  color: white;
  background-color: #8636a6;
  border-radius: 3px;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 3vw;
  padding-left: 3vw;
  z-index: 100;
}
.containment {
  overflow: visible !important;
}

.signin-form-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7f7f7f;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Landing Logo*/
@-webkit-keyframes landing-logo {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes landing-logo {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.landing-logo {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.landing-logo:hover,
.landing-logo:focus,
.landing-logo:active {
  cursor: pointer;
  -webkit-animation-name: landing-logo;
  animation-name: landing-logo;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Nav Buttons*/
.navBtn {
  padding-top: 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Mission Statement*/
.mission-statement-wrapper {
  width: 100vw;
  height: 70vh;
  color: black;
  background: linear-gradient(
    110deg,
    #2e2f2c 0%,
    #2e2f2c 30%,
    #fffff0 70%,
    #fffff0 100%
  );
  position: absolute;
  bottom: 30vh;
}

.bold {
  font-weight: bold;
  color: white;
}
.underline {
  text-decoration: underline;
}

.statement-box {
  font-family: "Cherry Cream Soda", cursive;
  /* font-weight: bold; */
  margin-top: 20vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-right: 5vw;
  padding-left: 5vw;
  border-radius: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./img/tastyTacos.jpg");
  background-size: 50vw;
  -moz-box-shadow: inset 0 0 15px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow: inset 0 0 15px #000000;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*map-container*/
.map-container {
  width: 70vw;
  height: 70vh;
  border: solid;
  border-color: black;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Sidebar*/
.sidebarList {
  max-height: 100vh;
  width: 26vw;
  overflow: auto;
  position: absolute;
  top: 20vh;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*viewListItem*/
.viewListItem {
  color: black;
  font-family: "Exo", sans-serif;
  width: 19vw;
  height: 13vh;
  margin-top: 0.5vh;
  overflow: auto;
  padding-left: 1.2em;
  padding-right: 0.5em;
  padding-bottom: 0.75em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: black;
  background-color: #fffff0;
  border-radius: 25px 25px 25px 5px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  z-index: 100;
}

.truckName {
  text-decoration: underline;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Location Autocomplete Search*/

.current-location-btn {
  position: absolute;
  right: 26vw;
  min-height: 6.5vh;
}
.search-icon {
  background-color: #fffff0;
  min-height: 6.5vh;
  min-width: 3vw;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.suggestion-icon {
  margin-right: 8px;
}

.search-bar-container {
  height: auto;
  min-width: 50vw;
  margin-left: 20vw;
  margin-top: 10vh;
  margin-right: 2vw;
}

.search-input-container {
  position: relative;
  min-width: 40vw;
}

.search-input,
.search-input:focus,
.search-input:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: honeydew;
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 2px;
  outline: none;
}

/* .clear-button,
.clear-button:active,
.clear-button:focus {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  font-weight: 600;
  color: #999;
} */

.autocomplete-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2px 2px;
  position: relative;
  z-index: 100;
}

.suggestion-item {
  padding: 8px;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
}

.suggestion-item--active {
  background-color: #eeeeee;
}

.dropdown-footer {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}

.dropdown-footer-image {
  display: inline-block;
  width: 150px;
}

.spinner {
  color: #18bc9c;
  font-size: 30px;
}

.error-message {
  color: red;
}

.geocode-result-header {
  font-size: 20px;
  color: #222222;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Message Modal*/
.message-modal {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  color: #2e2f2c;
  font-family: "Gochi Hand", cursive;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Media Query*/
@media (max-width: 736px) {
  .sidebarList {
    min-width: 100vw;
    position: initial;
  }
  .viewListItem {
    min-width: 80vw;
    height: 20vh;
  }

  .search-input-container {
    min-width: 90vw;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 3vh;
  }
  .current-location-btn {
    position: initial;
    /* right: 26vw; */
    min-height: auto;
  }

  .bg1::after {
    background-image: url("./img/FoodtruckEvent2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bg2::after {
    background-image: url("./img/meatBowl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .statement-box {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url("./img/tastyTacos.jpg");
    background-size: cover;
    width: 90vw;
  }

  .mission-statement-wrapper {
    width: 110vw;
    height: 50vh;
    color: black;
    background: linear-gradient(
      110deg,
      #2e2f2c 0%,
      #2e2f2c 30%,
      #fffff0 70%,
      #fffff0 100%
    );
    position: absolute;
    bottom: 30vh;
  }
}
