.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5em;
}

.orange {
  background-color: #ff9800 !important;
}

.red {
  background-color: #f44336 !important;
}

.blue {
  background-color: #008ac1 !important;
}

.card-header {
  z-index: 1 !important;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  color: whitesmoke;
  margin: -5px 20px 0;
  border-radius: 3px;
  padding: 15px;
  text-align: center;
  float: left;
}

.card-body {
  margin: -2px 20px 0;
  padding: 15px;
  padding-bottom: 0px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  background: #fff;
  text-align: right;
}
i {
  font-size: 2em;
}

.card-icon {
  color: whitesmoke;
  margin: -5px 20px 0;
  padding: 15px;
  text-align: center;
  border-radius: 50% !important;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
}

.heading {
  text-align: right;
  color: #3c4858;
  font-weight: 300;
}
.subheading {
  text-align: right;
  color: #999999;
  font-size: 17px;
}

.footer {
  border-top: 1px solid #eee;
  text-align: center;
  color: #999999;
  font-size: 9px;
}
